<div class="inventario-container">
  <main class="contenido">
    <div class="busqueda-card">
      <h2 class="titulo">Inventario Peru Smart</h2>

      <form nz-form class="formulario-filtros">
        <div class="filtros-grid">
          <div class="campo">
            <nz-form-item>
              <nz-form-label>Nombre</nz-form-label>
              <nz-form-control>
                <input
                  nz-input
                  [(ngModel)]="filtroNombre"
                  name="filtroNombre"
                  placeholder="iPhone 16 C/CHIP 128GB 8GB Azul"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="campo">
            <nz-form-item>
              <nz-form-label>SKU</nz-form-label>
              <nz-form-control>
                <input
                  nz-input
                  [(ngModel)]="filtroSKU"
                  name="filtroSku"
                  placeholder="CELU1014AZUL-128GB"
                />
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="campo">
            <nz-form-item>
              <nz-form-label>Precio</nz-form-label>
              <nz-form-control>
                <input
                  nz-input
                  type="number"
                  [(ngModel)]="filtroPrecio"
                  name="filtroPrecio"
                  placeholder="1500"
                />
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="campo">
            <nz-form-item>
              <nz-form-label>Stock</nz-form-label>
              <nz-form-control>
                <input
                  nz-input
                  type="number"
                  [(ngModel)]="filtroStock"
                  name="filtroStock"
                />
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="botones">
            <button
              nz-button
              nzType="primary"
              nzShape="round"
              (click)="filtrar()"
              class="btn-buscar"
            >
              <span nz-icon nzType="search"></span> Buscar
            </button>
            <button
              nz-button
              nzType="default"
              nzShape="round"
              (click)="resetear()"
              class="btn-limpiar"
            >
              <span nz-icon nzType="reload"></span> Limpiar
            </button>
          </div>
        </div>
      </form>

      <nz-table
        #tabla
        [nzData]="productosFiltrados"
        [nzBordered]="true"
        [nzSize]="'middle'"
        [nzFrontPagination]="true"
        [nzPageSize]="pageSize"
        [nzPageIndex]="pageIndex"
        (nzPageIndexChange)="onPageChange($event)"
        (nzPageSizeChange)="onPageSizeChange($event)"
        [nzShowPagination]="true"
        [nzPageSizeOptions]="[5, 10, 20, 50]"
        class="tabla-productos"
      >
        <thead>
          <tr>
            <th>Nombre</th>
            <th>SKU</th>
            <th>SKU CALIDDA</th>
            <th>Precio</th>
            <th>Stock</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of productosPaginados">
            <td>{{ p.producto }}</td>
            <td>{{ p.sku }}</td>
            <td>{{ p.skuCalidda }}</td>
            <td>S/ {{ p.precio | number : "1.2-2" }}</td>
            <td>
              {{ p.stock }}
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </main>
</div>
